<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp13.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp13.Properties.Settings>
            <setting name="sıfre" serializeAs="String">
                <value />
            </setting>
            <setting name="kadı" serializeAs="String">
                <value />
            </setting>
            <setting name="tek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="akadı" serializeAs="String">
                <value />
            </setting>
            <setting name="asıfre" serializeAs="String">
                <value />
            </setting>
            <setting name="hatırla" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="atek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="takadı" serializeAs="String">
                <value />
            </setting>
            <setting name="tkadı" serializeAs="String">
                <value />
            </setting>
            <setting name="kalanadt" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApp13.Properties.Settings>
    </userSettings>
</configuration>